<!DOCTYPE html>
<html>
<head>
<title> listen page  </title>
</head>
<body>

<p> listen page </p>

<p> {{somelamenum}} </p> 
<p> {{searchitem}} </p>
<p> {{thirdprint}} </p>



<a href= "https://www.youtube.com/results?search_query={{searchitem}}" > Shitty link </a> 

<br>

<iframe width="266" height="150" src="https://www.youtube.com/embed/cJunCsrhJjg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>

<a href= {{video_link}} > Shitty link 2</a> 

<br>

<iframe width="266" height="150" src= "https://www.youtube.com/embed/cJunCsrhJjg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>


<br>

<iframe width="266" height="150" src="https://www.youtube.com/embed/cJunCsrhJjg"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<br>

<iframe width="266" height="150" src="https://www.youtube.com/embed/cJunCsrhJjg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<br>



</body>
</html>