<!DOCTYPE html>
<html>
<head>
<title>Youtube Test</title>
</head>
<body>

<p> "far out" </p>

<form methods = get action = "https://www.youtube.com/results?search_query=YOUR_QUERY" >
  <input type="checkbox" id="1" name="YOUR_QUERY" YOUR_QUERY="Hendrix">
  <label for="1"> Mohawk </label><br>
  <input type="checkbox" id="2" name="YOUR_QUERY" YOUR_QUERY="Parish">
  <label for="2"> Parish </label><br>
  <input type="checkbox" id="3" name="YOUR_QUERY" YOUR_QUERY="Friends">
  <label for="3"> Friends </label><br>

    <input type="submit" value="Submit">

</form>


</body>
</html>